h1 { /* Main header */
    font-family:georgia, serif;
    color: green;
}

h1::first-letter { /* Main header first letter */
    font-size: 2em;
    color: red;
}

body {
  background: linear-gradient(to right, #80ffaa, #339933, #80ffaa);
  margin: auto;
  min-width: 400px;
}

form.block input {  /* Register and login input fields. */
    display: block;
    margin: 10px;
    font-size: 1.1em;
    max-width: 90%;
    width: 310px;
}

#recaptchaID {  /* recaptcha box */
    margin: 10px;
}

@media all and (min-width: 801px) {  /* Settings for big screens. */

    #wholePage { /* Almost whole page is in this div */
        max-width: 1600px;
        padding: 0px 80px
    }

    nav {  /* Navigation panel */
        height: 50px;
        margin: 5px;
        padding-right: 30px;
        border: ridge 5px;
        border-color: #00b300;
        border-radius: 10px;
    }

    nav li { /* Makes navigation links list horizontal. */
        float: left;
        padding-left: 15px;
        list-style-type: none;
    }

    li.loginLinks {  /* Set login links to right side of panel. */
        float: right;
        padding-right: 15px;
        list-style-type: none;
    }

    .infoText { /* Info boxes are larger with bigger screen. */
        display: inline-block;
        color: #008000;
        font-weight: bolder;
        font-size: 1.2em;
        border: inset 8px #00ff00;
        border-radius: 20%; /* Round corners */
    }

    form.block {
        display: inline-block;
        float: left;
    }
}

@media all and (max-width: 800px) {  /* Settings for smaller screens. */

    #wholePage { /* Scaling mbigger compared to screen size. */
        max-width: 95%;
        padding: 0px 25px
    }

    nav { /* Navigation panel, reduces size. */
        margin: 5px;
    }

    nav li { /* Makes list to be vertical list again. */
        list-style-type: none;
    }

    .infoText { /* Info boxes are more compact in small screen. */
        display: block;
        color: #000000;
        border: solid 4px #008000;
        border-radius: 5px;
    }
}


#wholePage {
    min-width: 400px;
    margin: 0 auto;
}

nav {
    background-color: #ccffcc;
}

li#hello { /* User's hello message decoration  */
    font-size: 1em;
    font-weight: bold;
    color: blue;
}

p { /* All paragraphs are justified to make them look prettier. */
    text-align: justify;
}

.topicName { /* Name of topic on topic page */
    font-family: Verdana,sans-serif;
    text-transform: uppercase;
}


.postListElement { /* Elements in post list. All post elements have this class. */
    list-style: none;
    padding: 0px 10px;
    border: 4px ridge #00b300;
    margin: 1px 60px 1px 0px;
}

ul#postList li:first-of-type { /* Makes Original Post little more fancy looking. */
    border: 10px groove #00e6ac;
}

.topicHeader, .infoHeader { /* H3 header decorations. */
    margin: 1px 30px 1px 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, sans-serif;;
}

.postDiv { /* Div for adding new posts. */
    display: block;
    margin: 0px auto 0px 40px;
    width: 1300px;
    max-width: 80%;
}

#postArea { /* Text are for post content. */
    max-width: 100%;
    resize:none;
    resize:vertical;
}

#addPostB, #addTopicB, #topicField { /* Marings for adder buttons and topic's name field */
    display: block;
    margin: 1px 30px 1px 40px;
}

#PDFlink { /* Link for to generate post to PDF. */
    float: right;
    margin: 1px 30px 1px 40px;
}

a:link, a:visited { /* Used and unused links are indetical looking. */
    text-decoration: none;
    color: blue;
}

a:active, a:hover { /* When mouse is over link or link is clicked but not released. */
    text-decoration: none;
    font-weight: bold; /* Weight and color to make link more ostentatious */
    color: red;
}

.infoText { /* Info boxes. Fancy borders to make then ostentatious. */
    font-family:georgia, serif;
    background-color: #99ff99;
    text-align: center;
    padding: 5px;
    margin: 10px;
    max-width: 270px;
    min-width: 200px;
}

footer { /* Footer of page. */
    clear: both;
    background-color: #99ff99;
    border: double 4px #008000;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.list {
	font-family:garamond;
	color:#cc0000;
}

#headerDiv { /* Div where site header is. */
    max-width: 1500px;
    border: ridge #00b300;
    border-width: 5px 10px 2.5px 10px;
    border-radius: 20px;
    background-color: #ccffcc;
    margin: 0px 10px;
}

#siteHeader { /* Decorations for site header. */
    text-align: center;
    text-shadow: 5px 5px 10px #999999; /* syntax left-right up-down shadow_radius color */
    border-bottom: 5px  ridge #00b300;
}

#border { /* Borders of page */
    max-width: 1460px;
    min-width: 190px;
    border-width: 2.5px 5px 5px 5px;
    border-style: ridge;
    border-color: #00b300;
    margin: 0px 30px;
    padding: 5px;
    background-color: #ccffcc;
}

#canvasAd { /* Actual canvas element */
    max-width: 100%;
}

#canvasAdvertisement { /* Div for canvas element */
    margin: auto;
    align-content: center;
    width: 630px;
    max-width: 100%;
}

@media print{ /* Printing settings. All black and white and only texts are visible. */
    nav, form, canvas, textarea, div.postDiv, div.postArea, .infoText, #PDFlink {
        display: none;
        visibility: hidden;
    }

    input { /* Makes input field invivible to printing. */
        position: absolute;
        visibility: hidden;
    }

    h1::first-letter {
        color: black;
    }

    li.topicName a {
        text-decoration: none;
        color: black;
    }

    #siteHeader {
        border-color: black;
    }
    ul#postList li:first-of-type {
        border-color: black;
        border-width: 4px;
        border-style: solid;
        color: black;
    }

    html, body, footer, p, div, ul, h1, h3, a { /* Text decoration to black */
        background-color: white;
        color: black;
    }

    footer, div#headerDiv, .postListElement { /* Black borders. */
        border-color: black;
        border-width: 3px;
        border-style: solid;
        color: black;
    }
}
